.card-component {
    display:block;
    width: 80%;    
    background: rgba(128, 128, 128, 0.274);
    color: whitesmoke;
    font-size: .7em;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
}

.card-component .title {
    font-size: 1.275rem;   
    margin-bottom: .5rem;
}

.card-component .message {
    font-size: 1rem;
    color: silver;
}

@media (max-width: 400px){
    .card-component {
        display:block;
        width: 95%;    
        background: rgba(128, 128, 128, 0.274);
        color: whitesmoke;
        font-size: .7em;
        border-radius: 10px;
        padding: .5rem;
        margin: .5rem auto .5rem auto;
    }
}