.card-component {
    display:block;
    width: 500px;
    border:1px solid silver;
    background: rgba(128, 128, 128, 0.274);
    color: whitesmoke;
    font-size: .7em;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.card-component .title {
    font-size: 1.4rem;   
    margin-bottom: .5rem;
}

.card-component .message {
    font-size: 1rem;
    color: silver;
}