body {
  background-color: #282c34;
}

body .App {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body .App h1,h2,h3,h4,h5 {
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
}

body .App h2 {
  font-size: 1.5rem;
}

body .App label{
  font-size: 1.5rem;
  font-weight: 300;
}
body .App input{
  display: inline-block;
  width: 160px;
  margin: 2px 20px 2px 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  background: silver;
}

body .App .inputGroup{
  margin: auto;
  width: fit-content;
  display: flex;
}

@media (max-width: 660px){
  body .App .inputGroup{
    display: block;
  }
}

a {
  color: #61dafb;
}